# =========================
# Shared
# =========================
GLOBAL_DEBUG=True
GLOBAL_ALLOWED_HOSTS=127.0.0.1,localhost
JWT_SIGNING_KEY=replace_with_a_strong_jwt_signing_key
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_HOST_PORT=3307

# =========================
# Ports
# =========================
AUTH_SERVICE_PORT=8001
INVENTORY_SERVICE_PORT=8002
ORDER_SERVICE_PORT=8003

# =========================
# Auth Service MySQL
# =========================
AUTH_DB_NAME=ecommerce_auth
AUTH_DB_USER=root
AUTH_DB_PASSWORD=your_mysql_password
AUTH_DB_HOST=127.0.0.1
AUTH_DB_PORT=3306

# =========================
# Inventory Service MySQL
# =========================
INVENTORY_DB_NAME=ecommerce_inventory
INVENTORY_DB_USER=root
INVENTORY_DB_PASSWORD=your_mysql_password
INVENTORY_DB_HOST=127.0.0.1
INVENTORY_DB_PORT=3306
INVENTORY_INTERNAL_API_KEY=replace_with_internal_api_key

# =========================
# Order Service MySQL
# =========================
ORDER_DB_NAME=ecommerce_order
ORDER_DB_USER=root
ORDER_DB_PASSWORD=your_mysql_password
ORDER_DB_HOST=127.0.0.1
ORDER_DB_PORT=3306
ORDER_INVENTORY_BASE_URL=http://127.0.0.1:8002
ORDER_INVENTORY_INTERNAL_API_KEY=replace_with_internal_api_key

# =========================
# Celery + Redis
# =========================
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

# =========================
# Email (for order signal/task demo)
# =========================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password_or_app_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@shop.local
ORDER_ALERT_EMAIL=owner@shop.local
